* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
}

body {
    padding: 10px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #c2c2c2;
}

.body {
    padding: 10px;
}

.logo img {
    width: 150px;
}

.nav-items ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-items ul li {
    cursor: pointer;
    font-weight: bold;
}

.nav-items ul li a {
    text-decoration: none;
}

.res-container {
    margin: 20px 0px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.res-card {
    width: 280px;
    border: 1px solid #c2c2c2;
    border-radius: 10px;
    padding: 10px;
    line-height: 1.5;
}

.res-card .res-logo {
    width: 100%;
    border-radius: 10px;
    max-height: 170px;
    object-fit: cover;
}


input {
    width: 250px;
    height: 36px;
    border: 1px solid #dddddd;
    border-radius: 4px;
    padding: 8px;
    background-color: #ffffff;
    font-size: 12px;
}

button {
    padding: 8px 12px;
    color: #222222;
    background-color: #e3e3e3;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    border-width: 0;
    user-select: none;
    border-radius: 4px;
}

.ml-10 {
    margin-left: 10px;
}