* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
}

body {
    padding: 10px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #c2c2c2;
}

.body {
    padding: 10px;
}

.logo img {
    width: 150px;
}

.nav-items ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-items ul li {
    cursor: pointer;
    font-weight: bold;
}

.nav-items ul li a {
    text-decoration: none;
}

.res-container {
    margin: 20px 0px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.res-card {
    width: 280px;
    border: 1px solid #c2c2c2;
    border-radius: 10px;
    padding: 10px;
    line-height: 1.5;
}

.res-card .res-logo {
    width: 100%;
    border-radius: 10px;
    max-height: 170px;
    object-fit: cover;
}


input {
    width: 250px;
    height: 36px;
    border: 1px solid #dddddd;
    border-radius: 4px;
    padding: 8px;
    background-color: #ffffff;
    font-size: 12px;
}

button {
    padding: 8px 12px;
    color: #222222;
    background-color: #e3e3e3;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    border-width: 0;
    user-select: none;
    border-radius: 4px;
}

.ml-10 {
    margin-left: 10px;
}

.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-gap-xs {
    gap: 10;
}

.flex-gap-sm {
    gap: 20;
}

.flex-gap-md {
    gap: 30;
}

.flex-gap-ls {
    gap: 40;
}

.shimmerContainer {
    padding: 10px;
}

.ShimmerCard {
    width: 265px;
}

.ShimmerCard .shimmerPrimary {
    height: 170px
}

.ShimmerCard .shimmerSecondary {
    height: 40px
}

.ShimmerCard .shimmerTertiary {
    height: 20px
}

.shimmerPrimary, .shimmerSecondary, .shimmerTertiary {
    background-color: lightgray;
    margin-top: 10px;
    border-radius: 2px;
}

.res-details-image {
    width: 156px;
    height: 144px;
}

.rounded-md {
    border-radius: 12px;
}

.w-30p {
  width: 30% !important;
}

.w-50p {
  width: 50% !important;
}

.w-70p {
  width: 70% !important;
}

.w-full {
  width: 100% !important;
}

.m-auto {
    margin-left: auto;
    margin-right: auto;
}


.mt-xxs {
  margin-top: 3px !important;
}

.mt-xs {
  margin-top: 5px !important;
}

.mt-sm {
  margin-top: 10px !important;
}

.mt-md {
  margin-top: 12px !important;
}

.mt-lg {
  margin-top: 15px !important;
}

.pt-lg {
  padding-top: 15px !important;
}

.pt-xl {
  padding-top: 20px !important;
}

.pt-xxl {
  padding-top: 25px !important;
}

.pb-xl {
  padding-bottom: 20px !important;
}

.pb-xxl {
  padding-bottom: 25px !important;
}


/*! Font size Starts */
.fs10 {
  font-size: 10px !important;
}

.fs12 {
  font-size: 12px !important;
}

.fs14 {
  font-size: 14px !important;
}

.fs16 {
  font-size: 16px !important;
}

.fs18 {
  font-size: 18px !important;
}

.fs20 {
  font-size: 20px !important;
}

.fs22 {
  font-size: 22px !important;
}

.fs24 {
  font-size: 24px !important;
}

/*! Font size Ends */

.res-details {
    border-bottom: 1px solid #c3c3c3;
    justify-content: space-between;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-decoration-none {
    text-decoration: none !important;
}